### Lists

In [1]:
# Lists are mutable and can be looped through
empty_list = []                                         # Creating an empty list
print('empty_list = ', empty_list)
list = [123, 'spam', 1.23]                              # [List] can contain multiple data types
print('list: ', list)

empty_list =  []
list:  [123, 'spam', 1.23]

### Accessing each index

In [2]:
animals = ['cat', 'dog', 'goat', 'sheep']               # List of animals
print('all animals = ', animals)                        # print entire list
print("first = ", animals[0])
print("second = ", animals[1])                          # print individual index
print("third = ", animals[2])
print("last = ", animals[-1])                           # print last index

all animals =  ['cat', 'dog', 'goat', 'sheep']
first =  cat
second =  dog
third =  goat
last =  sheep

### Accessing range of indices

In [3]:
fruits = ['mango', 'apple', 'peach', 'banana']
print('all fruits = ', fruits[0:4])                     # print first through last, index 0 included, index 4 not included
print(':3 = ', fruits[:3])                              # start to 3, including oth, but not 3rd index
print('1: = ', fruits[1:])                              # 1 to end, including 1st and last index

all fruits =  ['mango', 'apple', 'peach', 'banana']
:3 =  ['mango', 'apple', 'peach']
1: =  ['apple', 'peach', 'banana']

### Methods for adding

In [4]:
# all of the following methods mutates the original list
trees = ['maple', 'oak', 'ash']                         # original list
print('all trees = ', trees)

trees.append('eucalyptus')                              # appending a single element to the end
print('single element append = ', trees)

trees.insert(2, 'walnut')                               # inserting a single element to a specific index
print('single element insert at 2 = ', trees)

trees.extend(['neem', 'banyan'])                        # extending with additional list
print('extend with additional list = ', trees)

# inserting or appending another list simplly adds the list as a whole; ie. list within a list
trees.append(['amla', 'rosewood'])
print('\nappending a list = ', trees)

trees.insert(3, ['sal', 'willow'])
print('inserting a list at 3 = ', trees)

all trees =  ['maple', 'oak', 'ash']
single element append =  ['maple', 'oak', 'ash', 'eucalyptus']
single element insert at 2 =  ['maple', 'oak', 'walnut', 'ash', 'eucalyptus']
extend with additional list =  ['maple', 'oak', 'walnut', 'ash', 'eucalyptus', 'neem', 'banyan']

appending a list =  ['maple', 'oak', 'walnut', 'ash', 'eucalyptus', 'neem', 'banyan', ['amla', 'rosewood']]
inserting a list at 3 =  ['maple', 'oak', 'walnut', ['sal', 'willow'], 'ash', 'eucalyptus', 'neem', 'banyan', ['amla', 'rosewood']]

### Methods for removing

In [5]:
# all of the following methods mutates the original list
names = ['peter', 'jackson', 'lary', 'sima', 'bob']     # Original list
print('all names = ', names)

names.remove('lary')                                    # Removing single specified element
print('Removing single specific element = ', names)

names.pop()                                             # removing last element
print('Removing last element = ', names)

popped = names.pop()                                    # removing and storing removed element
print('Removing and storing last element = ', names)
print('Stored removed elements = ', popped)

all names =  ['peter', 'jackson', 'lary', 'sima', 'bob']
Removing single specific element =  ['peter', 'jackson', 'sima', 'bob']
Removing last element =  ['peter', 'jackson', 'sima']
Removing and storing last element =  ['peter', 'jackson']
Stored removed elements =  sima

### Methods for sorting

In [6]:
# all of the following methods mutates the original list
cities = ['miami', 'charleston', 'atlanta', 'boston']
print('all cities = ', cities)

cities.sort()                                           # .sort() sort list alphabatically in ascending order
print('sorting = ', cities)

cities.sort(reverse = True)                             # .sort() sort list alphabatically in descending order
print('reverse sorting = ', cities)

cities.reverse()                                        # .reverse() reverses a list
print('reverse = ', cities)

all cities =  ['miami', 'charleston', 'atlanta', 'boston']
sorting =  ['atlanta', 'boston', 'charleston', 'miami']
reverse sorting =  ['miami', 'charleston', 'boston', 'atlanta']
reverse =  ['atlanta', 'boston', 'charleston', 'miami']

### Common functions

In [7]:
nums = [3, 6, 2, 0, 5]
print('numbers = ', nums)

print('length: ', len(nums))                            # len(): length function; number of elements in a variable

print('sorted function = ', sorted(nums))               # sorted() function does not mutate the original
print('original intact = ', nums)

print('maximum = ', max(nums))                          # max/min functions
print('minimum = ', min(nums))

print(6 in nums)                                        # Check for a value in set
print(3.14 in nums)

numbers =  [3, 6, 2, 0, 5]
length:  5
sorted function =  [0, 2, 3, 5, 6]
original intact =  [3, 6, 2, 0, 5]
maximum =  6
minimum =  0
True
False

### Join and Split

In [8]:
countries = ['USA', 'England', 'India', 'Australia']
print('all countries = ', countries)

countries_joined = ', '.join(countries)                 # join elements with a comma + space into a single tring
print('joined = ', countries_joined)                    # Does not mutate the original
print(type(countries_joined))

countries_split = countries_joined.split(", ")          # split elements where comma + space is into a list
print('splited = ', countries_split)                    # Does not mutate the original
print(type(countries_split))

all countries =  ['USA', 'England', 'India', 'Australia']
joined =  USA, England, India, Australia
<class 'str'>
splited =  ['USA', 'England', 'India', 'Australia']
<class 'list'>

### Accessing Lists within a list

In [9]:
z = [[9], [[7]]]
print(z)
print(z[0])
print(z[0][0])

print(z[1])
print(z[1][0])
print(z[1][0][0])

[[9], [[7]]]
[9]
9
[[7]]
[7]
7